# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\INTELLIJ WORKSPACE\Projects\DeftBungee\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
